

body{
background-color: white;
margin: 0;
}

#nomeUsuario{
text-align: left; 
    font-size: 20px;
    position: absolute;
    top: 10%;
     left: 35%;


}
.inicio{/* Texto de inicio*/
   text-align: left; 
    font-size: 50px;
    position: absolute;
    top: 50px;
     left: 50px;
    
}

.retangulo_inicio{/* Retangulo cinza*/
    position: relative;
    width: 100%;
  height: 150px;
  background-color: gray;

}
.criar_conta{/* Criar uma conta */
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 5%;
     left: 93%;


}
.deslogar{/* Sair da conta */
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 10%;
     left: 95%;

}


.entrar{/* Entrar na conta */
    text-align: right;
    font-size: 20px;
    position: absolute;
    top: 2%;
     left: 95%;

}
.perfil{
    
font-size: 15px;
position: absolute;
top:2%;
left: 95%;

}